/* @font-face {
    font-family: "Digi";
    src: url("fonts/ds-digib.ttf");
  } */

body {
    /* background: linear-gradient(to bottom, #240b36, #c31432); */
    /* background-color: #000000; */
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    height: 200px;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.board {
    width: 800px;
    height: 500px;
    background-color: white;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.btn-start{
    /* background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #803b3b);
    background-image: -moz-linear-gradient(top, #d93434, #803b3b);
    background-image: -ms-linear-gradient(top, #d93434, #803b3b);
    background-image: -o-linear-gradient(top, #d93434, #803b3b);
    background-image: linear-gradient(to bottom, #d93434, #803b3b); */
    /* -webkit-border-radius: 60;
    -moz-border-radius: 60; */
    background-image: url("../images/start\ button.png");
    background-size: cover;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 500px;
    height: 90px;
  }


.btn:hover {
    background: #f79999;
    text-decoration: none;
}

.game-on {
    background-image: url(../images/chinese-arena.gif);
    background-position: center;
    background-size: cover;
}

.board div {
    width: calc( 100% / 5 );
    height: 100%;
}

.computer {
    background-image: url("../images/computer-debout.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 80%;
}

.player {
    background-image: url("../images/player-debout.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 80%;

}

.attack-player {
    background-image: url("../images/coup-de-poing.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: 80%;
}

.attack-computer {
    background-image: url("../images/computer-attack.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-position-y: 80%;
    background-size: contain;

}

.computer-won {
    background-image : url("https://media.giphy.com/media/JTfTkkuCAppmg/giphy.gif");
    z-index: 1000;
}

.player-won {
    background-image: url("https://media.giphy.com/media/tqRyxqUQQty2A/giphy.gif");
    z-index: 1000;
}

/* p {
    font-family: "Digi";
} */