@font-face {
    font-family: "Digi";
    src: url("../fonts/DS-DIGI.TTF");
  }

body {
    background-image: url("../images/wallpaper.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    height: 150px;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.board {
    width: 800px;
    height: 500px;
    background-image: url("../images/Instructions\ panel.png");
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.btn-start{
    background-image: url("../images/start\ button.png");
    background-size: cover;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 400px;
    height: 90px;
  }

.game-on {
    background-image: url(../images/chinese-arena.gif);
    background-position: center;
    background-size: cover;
}

.board div {
    width: calc( 100% / 5 );
    height: 100%;
}

.computer {
    background-image: url("../images/computer-debout.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 80%;
}

.player {
    background-image: url("../images/player-debout.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 80%;

}

.attack-player {
    background-image: url("../images/coup-de-poing.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: 80%;
}

.attack-computer {
    background-image: url("../images/computer-attack.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-position-y: 80%;
    background-size: contain;
}

.computer-receive {
    background-image: url("../images/computer-receive.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-position-y: 80%;
    background-size: contain;

}

.computer-won {
    background-image : url("https://media.giphy.com/media/JTfTkkuCAppmg/giphy.gif");
    z-index: 1000;
}

.player-receive{
    background-image: url("../images/player-receive.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-position-y: 80%;
    background-size: contain;
}

.player-won {
    background-image: url("https://media.giphy.com/media/tqRyxqUQQty2A/giphy.gif");
    z-index: 1000;
}

#timer {
    font-family: "Digi";
    color: white;
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
}

.player-life-bar {
    background-color: green;
    height: 20px;
    border-radius: 28px;
    border: solid #999999 2px;
}

.player-life-bar-background {
    width: 100px;
    background-color: #999999;
    height: 20px;
    border-radius: 28px;
    border: solid #999999 2px;
    display: flex;
    align-items: center;
}

.computer-life-bar {
    background-color: green;
    height: 20px;
    border-radius: 28px;
    border: solid #999999 2px;
}

.computer-life-bar-background {
    width: 100px;
    background-color: #999999;
    height: 20px;
    border-radius: 28px;
    border: solid #999999 2px;
    display: flex;
    align-items: center;
}

.life-bar {
    display: flex;
    justify-content: space-between;
    width: 800px;
    position: relative;
    top: 125px;
}

.life-bar > div {
    display: flex;
    align-items: flex-end;
}

